<section class="mt-7 w-full h-full">
    <h1 class="font-abel text-black text-5xl p-9 text-center">Le Cofab in Bondy en quelques nombres...</h1>
    <div id="StatBox">
        <div class="StatBar">
            <div id="laptops">
                <span class="Skill-Area font-abel">35 outils et machines</span>
                <span class="PercentText"><img class="" src="../../assets/img/pc-display-horizontal.svg" alt=""></span>
            </div>
        </div>

        <div class="StatBar">
            <div id="formations">
                <span class="Skill-Area font-abel">5 formations différentes</span>
                <span class="PercentText"><img class="" src="../../assets/img/cup-fill.svg" alt=""></span>
            </div>
        </div>

        <div class="StatBar">
            <div id="partners">
                <span class="Skill-Area font-abel">13 partenaires</span>
                <span class="PercentText"><img class=" w-5 h-5" src="../../assets/img/share-fill.svg" alt=""></span>
            </div>
        </div>
    </div>
</section>
