<footer class="mt-7 z-0 absolute h-80 sm:w-full bg-gray-400">
    <div class="flex">
        <div class="w-1/2 p-6 flex flex-col">
            <p class="font-abel text-xl">Liens utiles</p>
            <p class="site pt-4 text-lg font-abel">https://ird-hann.sn</p>
            <p class="site pt-4 text-lg font-abel">https://ird.fr</p>
            <img class="pt-12 w-64 my-auto" src="../../assets/img/logo__ird.png">
        </div>
        <div class="w-1/2 p-6 flex flex-col">
            <p class="font-abel text-xl">Contact</p>
            <p class="site font-abel text-lg pt-7">Tel : 338493402</p>
            <p class="site font-abel text-lg pt-6">Mail : cofab@ird.sn</p>
            <p class="site font-abel text-lg pt-6">Campus IRD,BP 1386-CP 18524 Dakar-Senegal</p>
        </div>
    </div>
    <p class="site font-abel text-lg text-center">Co-Fab IRD - 2022</p>
</footer>