<section>
    <h1 class="font-abel text-black text-5xl p-9 text-center">Les 5 piliers du fablab</h1>
    <div class="sm:grid grid-cols-4 gap-4 content-center">
        <div class="grid-rows-4 justify-center">
            <img class="m-auto w-10 h-10 " src="../../assets/img/binoculars-svgrepo-com.svg" alt="">
            <h1 class="font-abel text-black text-3xl text-center">La recherche</h1>
            <p class="text-xl font-abel text-center my-2">Un fablab créé par et pour la recherche scientifique sur le développement durable.</p>
<!--            <button class="place-self-auto text-md align-middle font-abel bg-blue-500 p-2 rounded-full hover:bg-gray-800">En savoir plus</button>-->
        </div>
        <div class="grid-rows-4 justify-center">
            <img class="m-auto w-10 h-10 " src="../../assets/img/signpost-2-fill.svg" alt="">
            <h1 class="font-abel text-black text-3xl text-center">Les low cost</h1>
            <p class="text-xl font-abel text-center my-2">Au fablab on utilise des technologies "low cost", c'est-à-dire des techs à bas coût.</p>
<!--        <button class="flex justify-self-center text-md font-abel bg-blue-500 rounded-full hover:bg-gray-800"><a class="text-center" href="#">En savoir plus </a></button>-->
        </div>
        <div class="grid-rows-4 justify-center">
          <img class="m-auto w-10 h-10 " src="../../assets/img/innovation_icon_150058.svg" alt="">
            <h1 class="font-abel text-black text-3xl text-center">L'innovation technologique</h1>
            <p class="text-xl font-abel text-center my-2">mise au point/ commercialisation d'un produit plus performant dans le but de fournir au consommateur des services objectivement nouveaux ou améliorés.</p>
<!--            <button class="flex justify-self-center p-2 text-md font-abel bg-blue-500 rounded-full px-4 py-2 hover:bg-gray-800"><a href="#">En savoir plus </a></button>-->
        </div>
        <div class="flex flex-col justify-center">
          <img class="m-auto w-10 h-10 " src="../../assets/img/service-icon.svg" alt="">
            <h1 class="font-abel text-black text-3xl text-center">Le service à la communauté </h1>
            <p class="text-xl font-abel text-center my-2">encourager et accompagner les sociétés à développer une sensibilisation et une compréhension de la responsabilités.</p>
<!--            <button class="flex justify-self-center p-2 text-md font-abel bg-blue-500 rounded-full  hover:bg-gray-800"><a href="#">En savoir plus </a></button>-->
        </div>
        <div class="grid-rows-4 justify-center">
          <img class="m-auto w-10 h-10 " src="../../assets/img/material-icon.svg" alt="">
            <h1 class="font-abel text-black text-3xl text-center">La rehabilitation des materiels </h1>
            <p class="text-xl font-abel text-center my-2">Maintenance, réhabilitation et modernisation de matérie</p>
<!--            <button class="flex justify-self-center p-2 text-md font-abel bg-blue-500 rounded-full hover:bg-gray-800"><a href="#">En savoir plus </a></button>-->
        </div>
    </div>
</section>
