<div class="bg-gray-400 flex space-x-3 p-2">
  <a href="#"><img src="assets/img/co-Fab_short.png" alt="" class="pl-6"/></a>
  <p class="font-abel text-2xl pt-1">Le fablab made in Bondy !</p>
</div>
<div class="navbar">
  <div class=" flex flex-row font-abel space-x-4 p-4 text-xl mx-4">
    <div>
     <a href="#" class="peer hover:text-red-600">Accueil<i class="bi bi-chevron-down p-1"></i></a>
       <div class="menu-dropdown hidden peer-hover:flex hover:flex w-[100px] flex-col navbar drop-shadow-lg">
        <a class="px-5 py-3 hover:text-red-600" href="#">Présentation de notre fablab</a>
        <a class="px-5 py-3 hover:text-red-600" href="#">Notre équipe</a>
        <a class="px-5 py-3 hover:text-red-600" href="#">Nos locaux</a>
        <a class="px-5 py-3 hover:text-red-600" href="#">Notre histoire</a>
       </div>
    </div>
    <div>
      <a href="#" class="peer hover:text-red-600">Formation <i class="bi bi-chevron-down p-1"></i></a>
        <div class="menu-dropdown hidden peer-hover:flex hover:flex w-[100px] flex-col navbar drop-shadow-lg">
         <a class="px-5 py-3 hover:text-red-600" href="#">Présentation des formations</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Inscription à une formation</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Tutos et supports pédagogiques</a>
        </div>
     </div>
     <div>
      <a href="#" class="peer hover:text-red-600">Projets de Recherche <i class="bi bi-chevron-down p-1"></i></a>
        <div class="menu-dropdown hidden peer-hover:flex hover:flex w-[100px] flex-col navbar drop-shadow-lg">
         <a class="px-5 py-3 hover:text-red-600" href="#">La station QameleO</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Station WAOU</a>
        </div>
     </div>
     <div>
      <a href="#" class="peer hover:text-red-600">Equipements <i class="bi bi-chevron-down p-1"></i></a>
        <div class="menu-dropdown hidden peer-hover:flex hover:flex w-[100px] flex-col navbar drop-shadow-lg">
         <a class="px-5 py-3 hover:text-red-600" href="#">Matériel audiovisuel</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Logiciels</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Machines</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Outils</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Rangement et exposition de projets</a>
        </div>
     </div>
     <div>
      <a href="#" class="peer hover:text-red-600">Infos Pratiques <i class="bi bi-chevron-down p-1"></i></a>
        <div class="menu-dropdown hidden peer-hover:flex hover:flex w-[100px] flex-col navbar drop-shadow-lg">
         <a class="px-5 py-3 hover:text-red-600" href="#">Agenda</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Contact</a>
         <a class="px-5 py-3 hover:text-red-600" href="#">Partenaires en France</a>
        </div>
     </div>
   <!-- <li>
     <ul class="menu-dropdown">
         <li></li>
         <li></li>
         <li></li>
       </ul>
     </a>
   </li>
   <li>
     <ul class="menu-dropdown">
         <li></li>
         <li></li>
       </ul>
     </a>
   </li>
   <li>
     <ul class="menu-dropdown">
         <li>Matériel audiovisuel
         <li>Logiciels</li>
         <li>Nos locaux</li>
         <li>Notre histoire</li>
       </ul>
      </a>
   </li>
   <li>
     <ul class="menu-dropdown">
         <li>Présentation de notre fablab</li>
         <li>Notre équipe</li>
         <li>Nos locaux</li>
         <li>Notre histoire</li>
       </ul>
     </a>
   </li>
    -->
   <a href="" class="absolute right-6"><i class="bi bi-search"></i></a>
  </div>
</div>
