<section class="mt-7 w-full h-full">
    <h1 class="font-abel text-black text-5xl p-9 text-center">En ce moment au Cofab in Bondy !</h1>
    <div class="grid grid-cols-3 content-center">
        <div class="grid-rows-4 justify-center">
            <h1 class="font-abel text-black text-4xl text-center">Projet QameleO in Bondy </h1>
            <img class="m-auto w-52 h-52 hover:scale-105 transform-gpu" src="../../assets/img/qameleo_COUL-1024x661.png" alt="">
            <p class="text-xl font-abel text-center my-2">Ce projet, initié par Nicolas MARILLEAU (chercheur en modélisation de l’UMMISCO et enseignant à La Sorbonne Université), consiste à faire assembler par des classes de scolaires proches de Bondy des […]</p>
            <button class="place-self-auto text-center text-md align-middle font-abel bg-blue-500 p-2 rounded-full hover:bg-gray-700 hover:scale-105">En savoir plus</button>
        </div>
    </div>
</section>